# -----------------------------------------
# ОБЩИЙ ФАЙЛ КОНФИГУРАЦИИ МИКРОСЕРВИСНОЙ АРХИТЕКТУРЫ
# -----------------------------------------
# Этот файл содержит все переменные окружения для всех сервисов
# с префиксами для избежания конфликтов имен.
# -----------------------------------------

# -----------------------------------------
# CORE НАСТРОЙКИ (ОБЩИЕ КОМПОНЕНТЫ)
# -----------------------------------------

# Kafka настройки
CORE_KAFKA_EXTERNAL_PORT=9092
CORE_KAFKA_INTERNAL_PORT=29092
CORE_KAFKA_CONTROLLER_PORT=29093
CORE_KAFKA_UI_PORT=8090

# -----------------------------------------
# ORDER СЕРВИС
# -----------------------------------------

# HTTP настройки
ORDER_HTTP_HOST=localhost
ORDER_HTTP_PORT=8080

# Таймаут на чтение Header
ORDER_HTTP_READ_HEADER_TIMEOUT=5s

# Shutdown timeout
ORDER_HTTP_SHUTDOWN_TIMEOUT=10s

# Логгер
ORDER_LOGGER_LEVEL=info
ORDER_LOGGER_AS_JSON=true

# PostgreSQL
ORDER_POSTGRES_USER=demo
ORDER_POSTGRES_PASSWORD=demo
ORDER_POSTGRES_PORT=5432
ORDER_POSTGRES_HOST=localhost
ORDER_POSTGRES_DATABASE=postgres
ORDER_MIGRATIONS_DIR=./order/migrations

# -----------------------------------------
# INVENTORY СЕРВИС
# -----------------------------------------

# gRPC настройки
INVENTORY_GRPC_HOST=localhost
INVENTORY_GRPC_PORT=50052

# Логгер
INVENTORY_LOGGER_LEVEL=info
INVENTORY_LOGGER_AS_JSON=true

# MongoDB
INVENTORY_MONGO_IMAGE_NAME=mongo:7.0.5
INVENTORY_EXTERNAL_MONGO_PORT=27017
INVENTORY_MONGO_HOST=localhost
INVENTORY_MONGO_PORT=27017
INVENTORY_MONGO_INITDB_DATABASE=inventory
INVENTORY_MONGO_AUTH_DB=admin
INVENTORY_MONGO_INITDB_ROOT_USERNAME=demo
INVENTORY_MONGO_INITDB_ROOT_PASSWORD=demo

# -----------------------------------------
# PAYMENT СЕРВИС
# -----------------------------------------

# gRPC настройки
PAYMENT_GRPC_HOST=localhost
PAYMENT_GRPC_PORT=50051

# Логгер
PAYMENT_LOGGER_LEVEL=info
PAYMENT_LOGGER_AS_JSON=true

# Kafka настройки
ORDER_KAFKA_BROKERS=localhost:9092
ORDER_ORDER_PAID_TOPIC_NAME=order.paid
ASSEMBLY_SHIP_ASSEMBLED_TOPIC_NAME=ship.assembled
ORDER_ORDER_PAID_CONSUMER_GROUP_ID=2
ASSEMBLY_SHIP_ASSEMBLED_CONSUMER_GROUP_ID=3

# -----------------------------------------
# NOTIFICATION СЕРВИС
# -----------------------------------------

NOTIFICATION_ORDER_PAID_CONSUMER_GROUP_ID=4
NOTIFICATION_SHIP_ASSEMBLED_CONSUMER_GROUP_ID=5

# -----------------------------------------
# Telegram
# -----------------------------------------

NOTIFICATION_BOT_TOKEN=8444312765:AAFfxsn3vZPget1Lcd_8bauo19XYxrArGSQ

# -----------------------------------------
# IAM СЕРВИС
# -----------------------------------------

# Redis
UFO_REDIS_HOST=localhost
UFO_REDIS_PORT=6333
UFO_EXTERNAL_REDIS_PORT=6333
UFO_EXTERNAL_REDIS_PORT=6333
UFO_REDIS_CONNECTION_TIMEOUT=10s
UFO_REDIS_MAX_IDLE=10
UFO_REDIS_IDLE_TIMEOUT=10s
UFO_REDIS_CACHE_TTL=24h