# ----------------------------
# Настройки HTTP-сервера
# ----------------------------

# Адрес, на котором будет слушать HTTP-сервер
HTTP_HOST=${ORDER_HTTP_HOST}

# Порт, на котором будет работать gRPC-сервер
HTTP_PORT=${ORDER_HTTP_PORT}

# Таймаут на чтение Header
HTTP_READ_HEADER_TIMEOUT=${ORDER_HTTP_READ_HEADER_TIMEOUT}

# Shutdown timeout
HTTP_SHUTDOWN_TIMEOUT=${ORDER_HTTP_SHUTDOWN_TIMEOUT}

# ----------------------------
# Настройки логгера
# ----------------------------

# Уровень логирования (debug, info, warn, error)
LOGGER_LEVEL=${ORDER_LOGGER_LEVEL}

# Выводить логи в формате JSON (true/false)
LOGGER_AS_JSON=${ORDER_LOGGER_AS_JSON}

# ----------------------------
# Настройки PostgreSQL
# ----------------------------

# Пользователь
POSTGRES_USER=${ORDER_POSTGRES_USER}
# Пароль
POSTGRES_PASSWORD=${ORDER_POSTGRES_PASSWORD}
# Хост для подключения
POSTGRES_HOST=${ORDER_POSTGRES_HOST}
# Порт для подключения
POSTGRES_PORT=${ORDER_POSTGRES_PORT}
# Папка с миграциями
POSTGRES_MIGRATIONS_DIR=${ORDER_MIGRATIONS_DIR}
# Имя базы данных
POSTGRES_DATABASE=${ORDER_POSTGRES_DATABASE}

# ----------------------------
# Настройки подключения к другим сервисам
# ----------------------------

## Inventory сервис
# Адрес, на котором будет слушать HTTP-сервер
INVENTORY_GRPC_HOST=${INVENTORY_GRPC_HOST}

# Порт, на котором будет работать gRPC-сервер
INVENTORY_GRPC_PORT=${INVENTORY_GRPC_PORT}

## Payment сервис
# Адрес, на котором будет слушать HTTP-сервер
PAYMENT_GRPC_HOST=${PAYMENT_GRPC_HOST}

# Порт, на котором будет работать gRPC-сервер
PAYMENT_GRPC_PORT=${PAYMENT_GRPC_PORT}

# Адреса Kafka-брокеров через запятую
KAFKA_BROKERS=${ORDER_KAFKA_BROKERS}

# Название топика с событиями "Заказ оплачен"
ORDER_PAID_TOPIC_NAME=${ORDER_ORDER_PAID_TOPIC_NAME}

# Название топика с событиями "Сборка завершена"
ASSEMBLY_SHIP_ASSEMBLED_TOPIC_NAME=${ASSEMBLY_SHIP_ASSEMBLED_TOPIC_NAME}

# Идентификатор consumer group для обработки событий "Сборка корабля"
ASSEMBLY_SHIP_ASSEMBLED_CONSUMER_GROUP_ID=${ASSEMBLY_SHIP_ASSEMBLED_CONSUMER_GROUP_ID}